body {
  background-image: url('/Imagenes/detectivepikachu.jpg');
   
  

  
}

h1 {
  font-size: 40px;
  font-family: 'roboto', sans-serif;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  -webkit-text-stroke: 1px white;
  color: transparent;
  color: #5D2C14;
  margin-top: 50px;
}


h2 {
  font-size: 25px;
  font-family:'roboto', sans-serif;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-top:50px;
  color: #5D2C14;
  
  

  
   
}

.mensaje {
  width: 500px;
  height: 50px;
  font-style: normal;
  font-size: 14px; 
  color: #5D2C14;
  border-radius: 5px;
  margin-left: 380px;
  margin-top:40px;
  border: 0;
  font-family: 'roboto', sans-serif;
 }


.resul {
  width: 90%;
  margin-top: 20px;
}
.resultado {
width: 500px;
height: 50px;
resize: none;
outline: 0px;
border-radius: 5px;
margin-left: 380px;
border: 0;
font-family: 'roboto', sans-serif;
font-size: 14px;
 color: #5D2C14;


  
}
.despla {
  width: 40px;  
  height: 20px;
  border-radius: 5px;
  border: 0; 
  margin-left: 10px;
  margin-top: 5px;


  
}

.label {
   font-family: 'roboto', sans-serif;
   font-size: 14px;
   margin-left:550px;
}
#codi, #deco {
  border: 0px;
  width: 80px;
  height: 30px;
  background-color: #F7F571;
  border-radius: 5px;
  margin-top: 5px /*10px 9px 0px*/;
  color: #010101;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
  padding: 8px 5px;
  margin-left: 370px;
  font-family: 'roboto', sans-serif;

}