body {
background-image: url('img/detective-pikachu.jpg');
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
}



h1 {
font-size: 45px;
font-family: 'fredoka one', cursive;
font-weight: bold;
margin-top: 30px;
text-align: center;
-webkit-text-stroke: 1px white;
color: transparent;
color:black;
}



h2 {
font-size: 30px;
font-family:'fredoka one', cursive;
font-weight: bold;
text-align: center;
-webkit-text-stroke: 0.5px white;
color: transparent;
margin-top:50px;
color:black;
}



.mensaje {
margin: auto;
display: flex;
justify-content: center;
width: 500px;
height: 50px;
font-style: normal;
font-size: 12px; 
color: #5D2C14;
border-radius: 5px;
margin-top:40px;
border: 0;
font-family:'fredoka one', cursive;
border: black 1px solid;

}


.resultado {
margin: auto;
display: flex;
justify-content: center;
width: 500px;
height: 50px;
resize: none;
outline: 0px;
border-radius: 5px;
border: 0;
font-family: 'fredoka one', cursive;
font-size: 12px;
color: #5D2C14;
margin-top: 10px;
border: black 1px solid;
}


.despla {
margin: auto;
display: flex;
justify-content: center;
width: 40px;  
height: 20px;
border-radius: 5px;
border: 0; 
margin-top: 1px;
font-family: 'fredoka one', cursive;
font-size: 12px;
border: black 1px solid;
}


.label {
display:flex;
justify-content: center;
text-align: center;
font-family: 'fredoka one', cursive;
font-size: 12px;
-webkit-text-stroke: 0.2px white;
}


#codi, #deco {
margin: auto;
display: flex;
justify-content: space-evenly;
border: 0px;
width: 100px;
height: 30px;
background-color: #E9CC66;
border-radius: 5px;
margin-top: 10px ;
color: black;
font-size: 12px;
cursor: pointer;
transition: 0.4s;
padding: 8px 5px;
font-family: 'fredoka one', cursive;
border: black 1px solid;
}
 
    
