body {
  background-image: url('Imagenes/detective-pikachu.jpg');
  display: flex;
  justify-content: center;
  background-size: cover;
    
  
  

  
}

h1 {
  font-size: 45px;
  font-family: 'fredoka one', cursive;
  font-weight: bold;
  margin-top: 30px;
  text-align: center;
  -webkit-text-stroke: 1px white;
  color: transparent;
  color:black;
  margin-top: 80px;
}


h2 {
  font-size: 30px;
  font-family:'fredoka one', cursive;
  font-weight: bold;
  text-align: center;
  -webkit-text-stroke: 1px white;
  color: transparent;
  margin-top:50px;
  color:black;
  
  

  
   
}

.mensaje {
  width: 500px;
  height: 50px;
  font-style: normal;
  font-size: 12px; 
  color: #5D2C14;
  border-radius: 5px;
  margin-top:30px;
  border: 0;
  margin-left: 130px;
  font-family:'fredoka one', cursive;
  
  
 }




.resultado {
width: 500px;
height: 50px;
resize: none;
outline: 0px;
border-radius: 5px;
border: 0;
font-family: 'fredoka one', cursive;
font-size: 12px;
color: #5D2C14;
margin-top: 10px;
margin-left: 130px;


  
}
.despla {
  width: 40px;  
  height: 20px;
  border-radius: 5px;
  border: 0; 
  margin-top: 1px;
  display: flex;
  justify-content: center;
  margin-left: 350px;
  font-family: 'fredoka one', cursive;


  
}

.label {
   font-family: 'fredoka one', cursive;
   font-size: 12px;
   margin-left: 320px;
  text-align: center;
   
   }
#codi, #deco {
  border: 0px;
  width: 100px;
  height: 30px;
  background-color: #E9CC66;
  border-radius: 5px;
  margin-top: 10px ;
  color: black;
  font-size: 12px;
  cursor: pointer;
  transition: 0.4s;
  padding: 8px 5px;
  font-family: 'fredoka one', cursive;
  display: flex;
  justify-content: center;
  margin-left: 322px;
  
}
 
    
